@media (min-width: 680px) {
    #catalogo {  
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr; 
    }
    .kit-masculino{
        max-width: 380px;
    }

    .kits2 {
        grid-column: 2 /span 2;
    }
}

@media (min-width:1025px) {
    #catalogo {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}