/* CONTEUDO PRINCIPAL "MAIN" */

.mainPgBuy {
    background-color: #f5f4f1;
    margin: 70px 10px 0px 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.736);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/* BOTAO RETURN "VOLTA PARA A PAGINA PRINCIPAL" */


.seta{
    text-decoration: none;
    color: #00668c;
    position: absolute;
    padding: 5px;
    font: 40px;
    top: 80px;
    z-index: 1;
}

/* IMAGENS DAS CAMISAS "CAMISA DE FRENTE E VERSO" */

.divImgBuy {
    background-size: contain;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;

}

.divImg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #f5f4f1;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.526);
    margin: 5px auto;
    border: 1px solid #00668c;

}

.divImg1>img {
    width: 240px;
    margin: 5px auto;
}

.divImg2 {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divImg2>img:hover {
    transform: scale(1.05);
}

.divImg2>img {
    width: 90px;
    background-color: #f5f4f1;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.701);
    margin: 0px;
    border: 1px solid #00668c;
}

/* BOTOES DOS TAMANHOS E QUANTIDADE */

.btnsSize {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sizeShirt>p {
    text-align: justify;
    font-size: smaller;
    font-weight: 700;
    margin: 5px;
}

.btnSize {
    background-color: #00668c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.982);
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid #f5f4f1;
    color: #f5f4f1;
    margin: 5px;
    padding: 6px;
    font-weight: 550;
}

.btnSize:hover {
    background-color: #327e9a;
    transition: linear 0.2s;
    transform: scale(1.1);
}

.quantidade {
    display: flex;
    flex-direction: column;
    height: 35px;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    text-align: center;
}

.quantidade>p {
    width: 100%;
    text-align: center;
    font-size: smaller;
    font-weight: 700;
    margin: 10px;
}

.btnsQuanti {
    display: flex;
}

#btReduce,
#btAdd {
    height: 30px;
    width: 25px;
    grid-template-columns: 1fr;
    background-color: #00668c;
    color: #f5f4f1;
    border: none;
}

#btReduce:hover,
#btAdd:hover {
    background-color: #327e9a;
}

#NumInput {
    text-align: center;
    padding: 0px 10px;
    height: 26.5px;
    width: 20px;
}

/* BOTÃO DO CARRINHO DE COMPRA */

.btCart {
    background-color: #00668c;
    color: #f5f4f1;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 35px;
    border-radius: 25px;
    border: 2px solid #f5f4f1;
    margin: 0px 32.8px;
    width: 39.2px;
}

.btCart>p {
    display: none;
    height: 20px;
    margin: 0;
    padding: 5px;
    transition: linear 0.5s;
}

.btCart:hover {
    background-color: #327e9a;
    width: 105px;
    margin: 0;
    transition: linear 0.2s;
}

.btCart:hover>p {

    animation: btnCart linear 0.2s;
    display: block;
}

/* DESCRIÇÃO DO PRODUTO */

.descrissao2 {
    height: 30px;
    padding: 10px;
    background-color: #00668c;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.classificacao2 {
    margin: 0;
    padding: 0;
    display: flex;
    color: rgb(0, 0, 0);
    font-size: smaller;
    font-weight: 700;
}

.nota {
    color: goldenrod;
    -webkit-text-stroke: 0.1px black;
}

.valor,
.valor>p {
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    color: white;
    /* border: 1px solid; */
}

/* Recomendações */

.Recomendações{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.produto{
    margin: 5px;
}

.grid1>img{
    width: 165px;
}

@keyframes btnCart {
    0% {
        transform: scaleX(0.5);
    }

    50% {
        transform: scaleX(0.7.5);
    }

    100% {
        transform: scaleX(1);
    }
}