/*
dimensao do poco x6 pro: 446
*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 177, 177);
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(161, 159, 159);
}



/* parte da navegação "Menu" */

#navegacao {
    position: sticky;
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(160, 160, 160);
}

.menu {
    justify-items: flex-end;
    color: black;
    background-color: transparent;
    border: none;
    padding: 6px 15px;
}

.ntitulo {
    padding: 0;
    margin: 10px;
    font-size: 20px;
    font-weight: 750;
    text-shadow: 0px 8px 15px black;
}

#search {
    display: none;
    margin: 4px auto;
    border-radius: 7px;
    width: 350px;
    padding: 10px;
    height: 10px;
    border: 0 none;
    background-color: rgb(160, 160, 160);
    animation: busca-off 0.2s linear;
}


#search:focus {
    animation: busca-on 0.2s linear;
}


.btns {
    margin-left: auto;

}

/* texto de boas vindas */

.texto {
    text-align: center;
    background-color: rgb(177, 177, 177);
}

/*  Menu lateral */

.divisorMenu {

    position: fixed;
    z-index: 1;
    top: -0px;
    height: 100vh;
    width: 100vw;

    display: none;
    grid-template-columns: 1fr 1fr;
    animation: menu linear 0.3s;

}

.menuLateral {
    background-color: rgb(160, 160, 160);
    width: 300px;
    z-index: 3;
}

.mtitulo {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(126, 125, 125);
    padding: 0px 5px;

}

.mtitulo>h1 {
    margin: 10px;
    font-size: 25px;
    font-weight: 750;
    text-shadow: 0px 8px 15px black;
}

.mtitulo>button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 540;
    width: 50px;

}

.categorias {
    margin: 0px 15px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.loja>.subLoja {
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.topLoja {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.topLoja>p span {
    margin: 0;
    transition: linear 0.3s;
}

.subLoja {
    padding: 3px 10px;
    width: 170px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#subLoja{
    display: none;
    animation: busca-on linear 0.2s;
}

.subLoja>p {
    margin: 8px;
    font-size: 14px;

}

.Menudark {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.415);
    z-index: 2;
}


/* seção de kits */

.kits {
    justify-self: center;
    align-content: center;
    margin-bottom: 20px;

}

.btn {
    padding: 7px 15px;
    margin: 0;

    border: none;
    background-color: transparent;
}

.btn:hover,
.menu:hover {
    background-color: rgb(181, 181, 181);
    box-shadow: 0px 0px 10px rgb(181, 181, 181);
}

.btn-img {
    background-color: transparent;
    border: none;
    text-decoration: none;
    width: 50px;
    height: 45px;
    padding: 0px;
}


.btn-img>img {
    width: 45px;
    height: 40px;
    margin: 0;
}

.btn-cor {
    border-radius: 25px;
    margin: 5px;
    border: none;

    width: 35px;
    height: 20px;
}

.cor1 {
    background-color: white;
}

.cor01 {
    background-color: black;
}

.divCamisa {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    overflow-x: auto;
    width: 60%;
    margin: 20px;
}

img {
    background-size: cover;
    height: 200px;
    transition: linear 0.5s;
}


.produto {
    display: flex;
    margin: 0px 25px;
    width: auto;
    height: 260px;
    text-align: center;

    background-color: rgb(154, 152, 152);
    color: black;
}


.classificacao,
.classificacao>p {
    margin: 2px 0px;
    display: flex;
    justify-content: center;
}

.descrissao,
.descrissao>p {
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

section {
    background-color: rgb(177, 177, 177);
}

.sessao-CAM {
    display: flex;
    flex-direction: row;

}

.sessao-CAF {
    display: flex;
    flex-direction: row;
}

.description {
    width: 40%;
    text-align: justify;
    margin-top: 50px;
    padding: 10px;
}

.description>h2 {
    text-align: center;
}



.btnsKit {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.btnsKit>button {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
    font-family: sans-serif;
    margin: 0px 5px;
}

.clicado {
    animation: clicado 0.3s linear;
    box-shadow: -1px -1px 20px white;
}

.kit1 {
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.751), rgb(91, 84, 56));
    content-visibility: hidden;
}

.kit2 {
    background-image: linear-gradient(125deg, black, green);
    content-visibility: hidden;
}

.kit3 {
    background-image: linear-gradient(125deg, black, rgb(165, 153, 106));
    content-visibility: hidden;
}

.kit4 {
    background-image: linear-gradient(125deg, rgb(165, 153, 106), black);
    content-visibility: hidden;
}

.kit-masculino {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.792);
    padding: 10px;
    border-radius: 10px;
    width: 80vw;
    height: 225px;
}

.kit-masculino>img {
    width: 200px;
    background-size: cover;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    margin-right: 15px;
    font-size: 15px;
}

.textos>p {
    text-align: center;
}

.pagkit {
    width: 100%;
    height: 25px;
    border-radius: 0px 0px 0px 10px;
    border: none;
    background-color: rgb(176, 176, 176);
    cursor: pointer;
}

.pagkit:hover {
    animation: click-animation 0.5s ease-in-out;
}

.valor-kit {
    font-size: large;
    text-decoration: underline;
    text-align: center;
}

.img-kit {
    margin: auto;
}

/* final do site */

footer {

    text-align: center;

}

.social {
    padding: 10px;
    font-size: larger;
}

.fi {
    margin: 10px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.cadastramento {
    border-top: 1px solid;
    background-color: rgba(128, 128, 128, 0.16);
    margin-bottom: 0px;
}

.cadastramento>p {
    margin: 0px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;

}

.email>input {
    background-color: rgb(160, 160, 160);
    border: 1px solid;
    outline: none;
    height: 26.5px;
    width: 200px;
    margin: 5px;
}


.register,
.login {
    background-color: rgb(160, 160, 160);
    border: 1px solid;
    height: 30px;
}

.register:hover,
.login:hover {
    background-color: rgb(179, 179, 179);
}



.helps {

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(128, 128, 128, 0.16);
    border-bottom: 1px solid;
}

.copy {
    margin-top: 40px;
}


/* animações personalizadas */

@keyframes busca-on {
    0% {
        transform: scaleX(0);

    }

    50% {
        transform: scalex(0.5);

    }

    100% {
        transform: scalex(1);

    }
}

@keyframes busca-off {
    0% {
        transform: scalex(1);

    }

    50% {
        transform: scalex(0.5);

    }

    100% {
        transform: scaleX(0);

    }
}

@keyframes click-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes menu {
    0% {
        transform: translateX(-200px);
        /* right: 50px; */
    }

    50% {
        transform: translateX(-100px);
        /* right: 25px; */
    }

    100% {
        transform: translateX(0px);
        /* right: 0px; */
    }
}